{%- include head.html -%}

<body data-spy="scroll" data-target=".fixed-top">
    
    {%- include nav.html -%}

    <!-- Header -->
    <header class="ex-header bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>{{page.title}}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-basic-1 bg-light-blue pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid mb-6" src="{{page.image}}" alt="{{page.title}}">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
    


    <!-- Basic -->
    <div class="ex-basic-1 bg-dark-blue" style="padding-bottom: 20px; padding-top: 50px; text-align: justify;">
        <div class="container">
            {{content}}
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


{%- include footer.html -%}